*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width:576px){
    .mod-test .navbar-brand{
        display: none;
    }
}
@media screen and (max-width:576px){
    .mod-test .row{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:576px){
    .mod-test .carousel-item img{
        height: 400px !important;
        width: 250px !important;
    }
}

